*::selection{
    background-color: #EF9D71; 
}

body[theme="black"]{
     background-color: #000;
}
body[theme="black"]{
     color: #fff;
} 

body[theme="cyan"]{
     background-color: cyan;
}
body[theme="cyan"] {
     color: #1b2e33;
} 

body[theme="white"]{
     background-color: white;
}
body[theme="white"]{
     color: black;
}

body[theme="salmon"]{
     background-color: salmon;
}
body[theme="salmon"]{
     color: rgb(67, 22, 17);
}

     